{% extends 'base.html.twig' %}

{% block title %}Hello RecipeController!{% endblock %}

{% block body %}

{% for recipe in recipes %}

    <article>
        <h1>{{ recipe.name }}</h1>
        <p>Categorie : {{ recipe.categorie }}</p>
        <a href="{{ path('app_recipe', {'id': recipe.id}) }}"> Voir la recette </a>
    </article>
   
{% endfor %}

{% endblock %}

{# echo doucle accolade {{}} #}